{% extends 'base.html' %}

{% block title %} Change password {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Change password</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-center">Password change successful</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}