{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">About</h4>
                    </div>
                    <div class="card-body">
                        <p>
                            Vox is an open-source platform for transcribing audio files to text based on WhisperX (<a
                                href="https://github.com/m-bain/whisperX"><i
                                class="bi bi-github"></i>m-bain/whisperX</a>).<br/><br/>
                            You can find the project code at: <a href="https://github.com/raulpetru/Vox"><i
                                class="bi bi-github"></i>raulpetru/Vox</a> and <a href="https://github.com/raulpetru/VoxComputeTranscription"><i
                                class="bi bi-github"></i>raulpetru/VoxComputeTranscription</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}